@font-face {
    font-family: MarioKart;
    src: url(Mario_Kart_70.ttf);
}

#contenedor_tabla {
	width: 1246px;
	height: 716px;
	background-image: url(../img/background.png);
    padding: 2px 17px 2px 17px
}

#equipoLocal {
    background-image: url(../img/text-local-bg.png);
    top: 95px;
    position: absolute;
}

#escudoLocal{
    top: -65px;
    position: absolute;
}

#equipoLocal .nombreEquipo{
    margin-left: 160px;
}
.nombreEquipo{
    font-size: 30px;
    color: white;
    padding-top: 15px;

}

#equipoVisitante {
    background-image: url(../img/text-visit-bg.png);
    top: 95px;
    left: 766px;
    position: absolute;
}
#equipoVisitante .nombreEquipo{
    width: 380px;
    padding-left: 15px;
    /*font-size: 27px;*/
}

#escudoVisitante{
    top: -65px;
    position: absolute;
    margin-left: 350px;
}

#competicion {
    background-image: url(../img/vs2.png);
    background-repeat: no-repeat;
    width: 193px;
    height: 151px;
    /*margin-left: 17px;
    margin-right: 17px;*/
    left: 50%;
    transform: translate(-50%, 0%);
}

#nombres {
    height: 155px;
}

.heigth-66{
    height: 66px;
}

.width-502{
    width: 502px;
}

.col{
    position: relative;
    display: inline-block;
}

.fila{
    width: 100%;
}

.jugador{
     height: 71px;
     width: 459px;
}

.numero{
    font-family: MarioKart;
    font-size: 15px;
}

.jugadores{
    height: 71px;
}

.jugadorLocal{
    background-image: url(../img/local2.png);
    background-repeat: no-repeat;
    margin-left: 130px;
    margin-right: 50px;

}

.jugadorLocal .numero{
    height: 100%;
    position: relative;
    top:0;

}


.jugadorVisitante{
    background-image: url(../img/visit2.png);
    background-repeat: no-repeat;
    
}

.penalizaciones{
    height: 59px;
}
.penalizacion{
    height: 59px;
     width: 381px;
}
.penalizacionLocal{
    background-image: url(../img/pena_local.png);
    background-repeat: no-repeat;
    margin-left: 122px;
    margin-right: 220px;

}

.penalizacionVisitante{
    background-image: url(../img/pena_visit.png);
    background-repeat: no-repeat;
}

.totales{
    height: 59px;
}
.total{
    height: 71px;
     width: 469px;
}
.totalLocal{
    background-image: url(../img/total_local.png);
    background-repeat: no-repeat;
    margin-left: 118px;
    margin-right: 52px;

}

.totalVisitante{
    background-image: url(../img/total_visit.png);
    background-repeat: no-repeat;
}