@font-face {
    font-family: MarioKart;
    src: url(Mario_Kart_70.ttf);
}

@font-face {
    font-family: Digital;
    src: url(Withheld_Data.woff);
}

@font-face {
    font-family: SF;
    src: url(fighting_spirit_PG_ital.ttf);
}



.tablita::before, .tablita::after {
    box-sizing: content-box;
}
html, body{
    line-height: normal;
}

#contenedor_tabla {
	width: 1280px;
	height: 716px;
	background-image: url(../img/fondos/hyrule.png);
    padding: 2px 17px 2px 17px;
    background-color:transparent;
}

#web{
    color: white;
    margin-top: 6px;
    margin-left: 60px;
    font-size: 17px;
}

#equipoLocal {
    background-image: url(../img/text-local-bg.png);
    top: 55px;
    position: absolute;
}

#escudoLocal{
    top: -65px;
    position: absolute;
    display: flex;
    align-items: center;
    height: 180px;
    margin-left: 20px;
}

#equipoLocal .nombreEquipo{
    margin-left: 160px;
}
.nombreEquipo{
    font-size: 30px;
    color: white;
    padding-top: 15px;
    font-weight: bold;

}

#equipoVisitante {
    background-image: url(../img/text-visit-bg.png);
    top: 55px;
    left: 766px;
    position: absolute;
}
#equipoVisitante .nombreEquipo{
    width: 342px;
    padding-left: 15px;
    text-align: right;
    /*font-size: 27px;*/
}

#escudoVisitante{
    top: -65px;
    position: absolute;
    margin-left: 350px;
    display: flex;
    align-items: center;
    height: 180px;
}

#competicion {
    /*background-image: url(../img/competiciones/snl.png);*/
    background-repeat: no-repeat;
    width: 193px;
    height: 131px;
    /*margin-left: 17px;
    margin-right: 17px;*/
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    align-items: center;
    text-align: center;
}

#competicionLogo{
    transform: translate(25%, 0%);
}

#nombres {
    height: 125px;
}

.heigth-66{
    height: 66px;
}

.width-502{
    width: 502px;
}

.col{
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.vertical-top{
    vertical-align: top;
}

.fila{
    width: 100%;
}

.jugador{
     height: 100%;
     width: 459px;
}


.numero{
    font-family: arial;
    font-size: 55px;
    color: white;
    font-weight: bold;

}

.jugadores{
    height: 60px;
    margin-bottom: 3px;
}

.mvp{
    padding-top: 15px;
    font-size: 25px;
    color: gold;
    font-weight: bold;
    
}

.hidden{
    visibility: hidden;
}

.jugadorLocal{
    background-image: url(../img/local2.png);
    background-repeat: no-repeat;
    margin-left: 140px;
    margin-right: 50px;

}

.jugadorLocal .numero{
    height: 100%;
    text-align: right;
    padding-left: 10px;
    width: 10%;


}

.nombre{
    padding-top: 15px;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.jugadorLocal .nombre{
    height: 100%;
    padding-left: 35px;
    width: 53%;

}
.jugadorLocal .puntos{
    width: 20%;
    height: 100%;
    text-align: right;
}

.puntos{
    padding-top: 15px;
    font-size: 25px;
    color: white;
    font-weight: bold;
}


.jugadorVisitante{
    background-image: url(../img/visit2.png);
    background-repeat: no-repeat;
    
}

.jugadorVisitante .puntos{
    width: 20%;
    height: 100%;
    text-align: left;
    padding-left: 15px;
}

.jugadorVisitante .numero{
    height: 100%;
    text-align: right;
    width: 10%;
}

.jugadorVisitante .nombre{
    height: 100%;
    padding-right: 35px;
    width: 54%;
    text-align: right;

}



.penalizaciones{
    height: 45px;
    margin-bottom: 3px;

}
.penalizacion{
    height: 100%;
     width: 381px;
}
.penalizacionLocal{
    background-image: url(../img/pena_local.png);
    background-repeat: no-repeat;
    margin-left: 132px;
    margin-right: 220px;

}

.penalizacion_nombre{
    font-family: arial;
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding-top: 6px;
}

.penalizacion_puntos{
    font-size: 26px;
    color: white;
    font-weight: bold;
    padding-top: 5px;
}

.penalizacionLocal .penalizacion_nombre{
    padding-left: 15px;
    width: 73%

}

.penalizacionLocal .penalizacion_puntos{
    width: 23%;
    text-align: right;

}

.penalizacionVisitante{
    background-image: url(../img/pena_visit.png);
    background-repeat: no-repeat;
}

.penalizacionVisitante .penalizacion_nombre{
    padding-left: 1px;
    width: 74%;
    text-align: right;


}

.penalizacionVisitante .penalizacion_puntos{
    width: 23%;
    text-align: left;
    padding-left: 15px;

}


.totales{
    height: 115px;
}
.total{
    height: 71px;
     width: 416px;
}
.totalLocal{
    background-image: url(../img/total_local2.png);
    background-repeat: no-repeat;
    margin-left: 128px;
    margin-right: 22px;

}

.win_img{
     z-index: 3;
     position: relative;
     top: -30px;
    width: 250px;
}
.win_img_local{
    margin-left: 250px;
}

.win_img_visit{
    margin-left: 230px;
}


.totalVisitante{
    background-image: url(../img/total_visit2.png);
    background-repeat: no-repeat;
}

.diferencia{
    background-image: url(../img/diferencia2.png);
    background-repeat: no-repeat;
    width: 110px;
    height: 100%;
    margin-right: 26px;
    margin-top:20px;
}

.diferencia_puntos{
    width: 100%;
    text-align: center;
}

.diferencia_nombre{
    margin-top: 18px;
    color: white;
    font-family: arial;
    font-weight: bold;
    font-size: 22px;
}

.total_nombre{
    font-family: arial;
    font-size: 63px;
    color: white;
    font-weight: bold;
    
}

.totalLocal .total_nombre{
    padding-left: 27px;
    width: 70%;

}

.total_puntos{
    padding-top: 3px;
    font-size: 50px;
    color: white;
    font-weight: bold;
    
    
}



.totalLocal .total_puntos{
   text-align: right;
   width: 26%;

}

.totalVisitante .total_puntos{
   padding-left: 15px;
   width: 40%;

}

.totalVisitante .total_nombre{
    width: 54%;
    text-align: right;
}

.wins{
    font-family: SF;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}





input[type=text], input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-5 {
    
    width: 5%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.col-45 {
    float: left;
    width: 45%;
    margin-top: 6px;
}

.col-95 {
    float: left;
    width: 95%;
    margin-top: 6px;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
.w3-modal > .w3-modal-content > .w3-container > p {
  word-wrap: break-word;
}

.ganador{
    color: green;
}

.perdedor{
    color: red;
}

.w3-modal-content {
    width: 450px;
}
